@use "sass:map";

$breakpoints: (
  sm: 600px,
  md: 900px,
  lg: 1440px,
);

@mixin media-query($key) {
  @if map.has-key($breakpoints, $key) {
    $size: map.get($breakpoints, $key);

    @media (min-width: $size) {
      @content;
    }
  }
  else {
    @media (min-width: #{$key}) {
      @content;
    }
  }
}
