// -------- COLORS --------
$primary-white: #fff;
$primary-black: #333;
$primary-green: #24c486;
$primary-baby-blue: #f1f2f6;
$gradient-green: linear-gradient(180deg, #2ecc71, #1abc9c);
$gradient-red: linear-gradient(180deg, #f53b82, #f53b57);

// -------- FONT SIZE --------
$font-xs: 0.7rem;
$font-sm: 0.78rem;
$font-tiny: 0.85rem;
$font-base: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.375rem;
$font-2xl: 1.5rem;
$font-3xl: 1.875rem;
$font-4xl: 2rem;
$font-5xl: 2.5rem;
$font-6xl: 3rem;
$font-7xl: 4rem;
$font-8xl: 5rem;
